@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.web-header{
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Josefin Sans", sans-serif;
    flex-wrap: wrap;
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: white;
    color: black;
}
.main-header{
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Rye', cursive;
    font-size: 1rem; /* Adjust as needed */
    color: #fff;
    background: linear-gradient(45deg, #ff0000, #ff8800, #ffcc00, #00ff00, #00ffcc, #0000ff, #8800ff, #ff00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 2px 5px rgba(0, 0, 0, 0.5); */
    margin: 10px;
    padding: 5px;
    /* border: 2px solid black;  */
    border-radius: 10px; 
    display: inline-block;
}
.navbar{
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    list-style-type: none;
    gap: 70px;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
}
.navbar a {
   text-decoration: none;
   color: white;
   transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
  color:  darkorange; 
  transform: scale(1.5); 
}
.list-div{
    margin: 10px;
}
@media screen and (max-width : 600px){
    .web-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.3em;
    }
    .navbar{
        gap: 17px;
    }
    .hero-text{

    }
}
.hero{
    margin-top: 6.4em;
    /* z-index: 1000; */
    position: relative;
    width: 100%;
    height: 500px; 
    background: url('/AIPCK\ YOUTH.jpg') no-repeat center center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
  .hero-text {
    position: relative;
    z-index: 1;
    font-size: 1rem; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    /* font-family: "Poppins", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.5);
  }
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); 
    z-index: 0;
  }
  .cta-link{
    /* border: 1px solid gray; */
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: orange;
    width: 100%;
    max-width: 100px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  span{
    color: white;
  }

  .cta-link:hover {
    background-color: darkorange; 
    transform: scale(1.05);
  }
  .about{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  .about-details{
    /* border: 2px solid gray; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    flex-wrap: wrap;
  }

  .about-image{
    /* border: 2px solid gray; */
    width: 100%;
    max-width: 550px;
    max-height: 400px;
    border-radius: 5px;
  }
  .youth-about-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.3);
  }
  .about-description{
    /* border: 2px solid gray; */
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 100%;
    max-width: 550px;
    line-height: 1.5;
    color: black;
    border-radius: 5px;
    background-color: lavender;
    /* box-shadow: rgba(0, 0, 0, 0.5); */
  }
.about-heading{
    text-align: center;
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.slideshow-container {
   max-width: 700px;
   position: relative; 
   margin: auto;
  /* border: 2px solid gray; */
  padding: 20px;
  overflow: hidden;
  
}

.slide {
  display: none;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
img {
  /* vertical-align: middle; */
  border-radius: 8px;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.main-gallery{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}


